
@import "~bootstrap/scss/bootstrap";

$my-primary-color : #0074d9;
$my-danger-color  : #ff4136;

$theme-colors : (
    'primary' : $my-primary-color,
    'danger'  : $my-danger-color
);

body
 {
    background-color: map_get($theme-colors, 'danger');
}



